@import 'variables';

@media only screen and (min-width: 1200px) {
    .container { 
        max-width: 1280px; 
    } 
}

.fixed-logo {
    position: relative;
    top: 75px;
    z-index: 9999;

    @media (max-width: 768px) {
        display: none;
    }
}

.row {
    margin: 10px 0;
}

// Navigation

.header {
    width: 100%;
    margin-top: 10px;
    background-color: $solid-dark-green;

    img {
        margin: 15px 0 28px 0;
    }
}

.navbar {
    padding: 0;
    margin-left: 10px;

    @media (max-width: 576px) {
        margin-left: 0;
    }

    .nav-item {
        padding: 0px 23px;
        background-color: $light-green;
        font-family: Tahoma, Verdana, Segoe, sans-serif; 
        font-size: 0.875rem;
        font-weight: bold;

        &:not(:last-child) {
            margin-right: 2px;
        }
        
        .nav-link {
            color: white;

            @media (min-width: 576px) {
                padding-left: .5rem;
                padding-right: .5rem;
            }
        }
    }

    .navbar-dark .navbar-toggler {
        color: red;
    }

    .dropdown-menu {
        margin: 0;
        background-color: $light-green;
        border: 0;
        border-radius: 0;
        
        .dropdown-item {
            padding: .25rem .85rem;
            color: white;
            font-size: 0.75rem;
            white-space: pre-wrap;
            
            &:not(:last-child) {
                border-bottom: 1px solid rgba(255, 255, 255, 0.40);
            }

            &:hover {
                background-color: transparent;
            }
        }
    }
}

// Left column

.main-section {
    padding: 10px;
    min-height: 836px;
    background-color: $light-green;
    color: white;

    .main-content {
        width: 100%;
        height: 100%;
        background-color: $dim-dark-green;
        padding: 0 30px;

        h1 {
            font-size: 3rem;
            font-family: Verdana, Geneva, sans-serif;
            margin: 0;
            padding: 17px 0 0 0;
        }

        .divider {
            border-top: 1px solid black;
	        border-bottom: 1px solid gray;
        }

        p {
            text-indent: 30px;
            font-family: Tahoma, Verdana, Segoe, sans-serif;
            font-size: 	0.75rem;
        }
    }
}

// Right column

.main-aside {
    padding: 10px;
    min-height: 836px;
    background-color: $medium-dark-green;
    color: white;

    .side-content {
        width: 100%;
        height: 100%;
        background-color: $solid-dark-green;
        padding: 10px;

        h4 {
            font-size: 1rem;
            font-family: Tahoma, Verdana, Segoe, sans-serif;
            text-transform: uppercase;
        }

        .share {
            margin-bottom: 38px;

            i {
                margin-top: 10px;
                background-color: gray;
                padding: 12.5px;
                font-size: 1.25rem;
                margin-right: 9px;
            }
        }

        .categories {
            margin-bottom: 20px;

            a {
                display: block;
                color: white;
                text-decoration: underline;
                margin-left: 2px;
            }
        }

        .stories {
            margin-bottom: 20px;

            .carousel {
                margin-top: 20px;
            }

            .carousel-indicators {
                .active {
                    background-color: white;
                }

                li {
                    top: 40px;
                    width: 5px;
                    height: 5px;
                    border-radius: 50%;
                    background-color: $light-green;
                }
            }
        }
    }
}

// Footer

.footer {
    width: 100%;
    min-height: 43px;
    margin-bottom: 10px;
    background-color: $light-green;
    color: white;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-size: 1rem;

    .copy {
        @media (max-width: 768px) {
            text-align: center;
            padding: 5px 0;
        }
    }

    .menu {
        text-align: right;

        @media (max-width: 768px) {
            text-align: center;
            padding: 5px 0;
        }
        
        li {
            list-style-type: none;
            display: inline;

            a {
                color: white;
                border-bottom: 1px solid white;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}